:root {
    --color-primary: #5E2B81;
    --color-primary-dark: #422059;
    --color-primary-light: #8137B4;

    --color-secondary: #007898;
    --color-secondary-dark: #03556B;
    --color-secondary-light: #00A3D1;

    --color-bg: #141414; /*#100B13;*/
    --color-surface: #201f21; /*#1C1023;*/
    --color-border: #242424; /*#211229;*/
    --color-border-dark: #191919; /*#211229;*/

    --color-text: white;
    --color-text-muted: gray;
    --color-text-inverse: white;

    --color-success-dark: #6A9E32;
    --color-success: #006239 /*#86CA3D*/;
    --color-success-light: #107e4f /*#A6FD49*/;

    --color-warning-dark: #D9780C;
    --color-warning: #FFB116;
    --color-warning-light: #FFFA23;

    --color-error-dark: #A9322A;
    --color-error: #ED463B;
    --color-error-light: #FF6050;
}

html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: auto;
}

body {
    background: linear-gradient(var(--color-bg), color-mix(in oklab, var(--color-bg) 70%, var(--color-primary) 30%));
    background-attachment: fixed;

    color: var(--color-text);
    margin: 0;
    font-family: Inter, sans-serif;

    text-align:justify;
}

main {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

main div {
    flex: 1;
}

*::selection {
    background: var(--color-secondary);
}

header {
    --header-margin: 0px;

    height: 100px;
    display: flex;
    position: fixed;
    width: calc(100% - (var(--header-margin) * 2));

    box-sizing: border-box;

    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border-radius: 15px;
    align-items: center;
    padding-left: 40px;
    padding-right: 50px;

    background: linear-gradient(rgba(0,0,0,0.5), transparent);

    --header-border-opacity: 0;

    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-top-color: rgba(255, 255, 255, var(--header-border-opacity));
    border-bottom-color: rgba(255, 255, 255, 0.25);

    margin: var(--header-margin);
    /*top: var(--header-margin);*/

    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;

    transition:
        border-color 300ms ease-in-out,
        margin 500ms cubic-bezier(0.68, -0.6, 0.32, 1.6),
        top 500ms cubic-bezier(0.68, -0.6, 0.32, 1.6),
        width 500ms cubic-bezier(0.68, -0.6, 0.32, 1.6);

    z-index: 10000;
}

.main-header-links {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

header.scrolled {
    --header-border-opacity: 0.25;
    --header-margin: 15px;
}

.main-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--color-secondary-light);
}

a:hover {
    text-decoration: underline;
}

.accent-bg {
  position: relative;
  background-color: color-mix(in oklab, black 20%, transparent 80%);
  backdrop-filter: blur(50px);
  border-radius: 30px;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  z-index: 0;

  border: 2px solid color-mix(in oklab, white 5%, transparent);;
}

.accent-bg h1 {
    margin-top: 0;
}

/*.accent-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(
    to bottom,
    var(--color-border-dark),
    var(--color-border)
  );
  mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
}*/

footer {
    height: 75px;
    background-color: rgba(0,0,0,0.5);

    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    border-top: 1px solid rgba(255,255,255,0.25);
    margin-top: auto;
}

footer div {
    gap: 20px;
    display: flex;
    font-size: small;
    align-content: center;
    justify-content: center;
    color: var(--color-text-muted);
}

li {
    margin-bottom: 10px;
}

.glassmorphism {
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-top-color: rgba(255, 255, 255, 0.25);
    border-bottom-color: rgba(255, 255, 255, 0.25);

    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.005),
        inset 0 1px 0 rgba(255, 255, 255, 0.025),
        inset 0 -1px 0 rgba(255, 255, 255, 0.005),
        inset 0 0 20px 10px rgba(255, 255, 255, 0.05);
}

.frutiger-aero {
    position: relative;
}

.frutiger-aero::after {
    content: "";
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    width: calc(100% - 0.4em);
    height: 75%;
    background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.0)
    );
    border-radius: inherit;
    transition: background 400ms ease;
    pointer-events: none;
}

.popup-bg {
    display: flex;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #00000077;
    backdrop-filter: blur(15px);

    justify-content: center;
    align-items: center;

    transition:
        background-color 500ms ease,
        backdrop-filter 500ms ease;
}

.popup-bg.hidden {
    display: none;
    background-color: #00000000;
    backdrop-filter: blur(0px);
}

.popup {
    background-color: color-mix(in srgb, var(--color-surface) 50%, transparent);
    padding: 18px;
    border-radius: 15px;
    width: fit-content;
    max-width: 400px;
    box-shadow: 0 8px 30px rgba(0,0,0,.35);
}

.popup h2 { 
    margin:0 0 16px; 
    font-size:24px; 
}

.popup p { 
    margin:8px 0;
    line-height:1.35; 
    text-align: center;
}

.popup .actions { 
    margin-top:14px; 
    display:flex; 
    gap:8px;
    justify-content: center;
}

.popup button.primary {
    background: color-mix(in srgb, var(--color-secondary) 50%, transparent);
    padding: 10px 12px;
    border-radius: 8px;
    cursor: pointer;
    
    font-weight:600;
    color:white;
    font-family: Inter, sans-serif;

    filter: drop-shadow(0 0 5px #00000077);
    transition: 
        filter 200ms ease,
        scale 200ms ease,
        background-color 200ms ease;
}

.popup button.primary:hover {
    background: color-mix(in srgb, var(--color-secondary) 70%, transparent);
    scale: 1.05;
    filter: drop-shadow(0 0 10px #00000077);
}

.popup button.primary:active {
    background: color-mix(in srgb, var(--color-secondary) 20%, transparent);
    scale: 0.95;
    filter: drop-shadow(0 0 2px #00000077);
}

.popup .footer { 
    margin-top:12px; 
    font-size:12px; 
    color:#666; 
    text-align: center;
}

.popup .close-x { 
    display: block;
    padding: 0;
    margin: 0;
    right: 18px; 
    top: 12px;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    background-color: transparent;
    border: none;
    background-image: url("/imgs/icons/close_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg");
    cursor: pointer;
}

.popup .close-x:hover {
    background-image: url("/imgs/icons/close_24dp_E3E3E3_FILL0_wght400_GRAD200_opsz24.svg");
}


@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-content: center;
        padding-top: 10px;
        position: relative;
    }

    .main-header-links {
        flex-direction: row;
        height: auto;
        position: relative;
        align-content: center;
        align-items: center;
        margin-left: 0;
        margin-top: 5px
    }

    header.scrolled {
        --header-border-opacity: 0;
        --header-margin: 0px;
    }

    footer {
        height: auto;
        padding: 15px 0;
    }

    footer div {
        flex-direction: column;
        gap: 8px;
        text-align: center;
    }

    footer a {
        display: inline-block;
        font-size: 14px;
    }
}

@media (max-width: 415px) {
    .main-header-links {
        flex-direction: column;
        height: auto;
        position: relative;
        align-content: center;
        align-items: center;
        margin-left: 0;
        margin-top: 5px;
        height: fit-content;
        max-height: 100%;
    }

    header {
        flex-direction: column;
        align-content: center;
        padding-top: 10px;
        position: relative;
        height: fit-content;
        max-height: 100%;
        padding-bottom: 15px;
    }
}