.logo-bg {
    min-height: 500px;
    max-height: 500px;
    background: linear-gradient(45deg, #d900ff45, #4000ff45);
    box-shadow: inset 0 -10px 20px -6px #00000044;
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.logo-bg p {
    margin-top: 0;
    font-size: larger;
    max-width: 600px;
}

.download-mods-link-btn {
    margin-top: 15px;

    display: inline-block;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    background: var(--color-secondary);
    color: white;
    text-decoration: none;
    font-weight: 600;
    height: 30px;
    align-content: center;
    transition: 
        background 0.2s ease, 
        transform 0.1s ease,
        filter 200ms ease-in-out,
        scale 200ms ease-in-out;
    border: 1px solid var(--color-secondary-dark);

    filter: drop-shadow(0px 0px 5px #00000055);
    scale: 1;
}

.download-mods-link-btn:hover {
    background: var(--color-secondary-light);
    text-decoration: none;
    filter: drop-shadow(0px 0px 15px #00000055);
    scale: 1.05;
}

#section-reviews {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.reviews-root {
    justify-content: center;
    justify-self: center;
    display: flex;
    padding-bottom: 50px;
    flex-wrap: wrap;
    max-width: 1500px;
}

.review {
    position: relative;

    width: 25%;
    aspect-ratio: 1 / 0.55;
    background: linear-gradient(rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.05) 100%);
    border-radius: 15px;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 1));
    font-weight: 800;
    font-size: xx-large;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center; /* centers main text vertically */

    margin: 25px;
    min-width: 400px;
    position: relative; /* allows author to be positioned inside */
    text-align: center;
}

.review::after {
     content: "";
    position: absolute;
    top: 0.3em;
    left: 0.3em;
    width: calc(100% - 0.6em);
    height: 75%;
    background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.16),
    rgba(255, 255, 255, 0.0)
    );
    border-radius: inherit;
    transition: background 400ms ease;
    pointer-events: none;
}

.review p {
    margin: 0 auto;
    margin-bottom: 55px;
    padding: 0 20px; /* optional readability */
}

.review-author {
    position: absolute;
    bottom: 20px;    /* distance from bottom */
    left: 20px;      /* distance from left */
    display: flex;
    align-items: center;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

.review-author img {
    border-radius: 100%;
    margin-right: 15px;
    width: 50px; /* fixed size so it's consistent */
}

.review-author p {
    margin: 0;
}
