<li class="mods-list-item glassmorphism">

    <div class="mods-list-item-top-row">
        <div class="mod-name-downloads-header">
            <p><a href="https://github.com/{{repo_owner}}/{{repo_name}}" target="_blank"><b>{{name}}</b></a> by <a href="https://github.com/{{repo_owner}}" target="_blank">{{author}}</a></p>
            <span>{{downloads}} downloads</span>
        </div>

        <select name="mod-version-select" id="{{mod_id}}-version-select" class="mod-version-select">
            {{mod_version_items}}
        </select>

        <button class="mod-add-button" value="{{mod_id}}"><img src="/imgs/icons/add_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt=""></button>
    </div>

    <span>{{description}}</span>
</li>